*.cfg
*.class
*.idea
*.iml
*.jar
*.log
*.out
*.properties
*.swp
*.tmp
*~

build/
target/
.classpath
.idea/
.project
.settings/

!.idea/codeStyleSettings.xml

flyway.conf
log4j2.xml
log4j2-cli.xml
test.log4j2.xml
