###############################
## Base Configuration
###############################

# The base url of the deployed SAGE instance (omit trailing slash)
base.url = http://localhost:8080

###############################
## Authentication Configuration
###############################

# Remote IPs matching (regex) user.ip.filter are not required to specify an API key.
user.ip.filter = 127\.0\.0\.1|0:0:0:0:0:0:0:1

# Allow api calls that match the regex to use the default user if no key is supplied.
# The format of an api request is /api/v2/service/method. The regex should contain an
# an alternation of allowed services e.g (map|street)
public.api.filter = (map)

#Default admin username and pass. Required for ensuring database is configured correctly with shiro
default.admin.username = Can be found in the database
default.admin.password = Can be found in the database

#################################
## Database Logging Configuration
#################################

# Log the ip, request type, and time for each api call
api.logging.enabled = true

###############################
## API Services Configuration
###############################

# USPS (free AIS web service)
usps.ais.url = http://production.shippingapis.com/ShippingAPI.dll
usps.ais.key = API key obtained from USPS

# USPS AMS Service
usps.ams.api.url = http://localhost:8080/USPS-AMS/api/
usps.ams.ui.url = http://localhost:8080/USPS-AMS/

# NYSenate.gov (full url, no trailing slash)
nysenate.domain = https://www.nysenate.gov

# Google Geocoder (free service, daily rate limit)
google.geocoder.url = https://maps.googleapis.com/maps/api/geocode/json
google.geocoder.key = API Key obtained from Google

google.maps.url = https://maps.google.com/maps/api/js?v=3&libraries=places
google.maps.key = API Key obtained from Google (this key is public facing)

nys.geocoder.url = https://nysgeohub.ny.gov/arcgis/rest/services/Geocoder/NYS_Geocoder/GeocodeServer
nys.geocode.ext = /findAddressCandidates
nys.revgeocode.ext = /reverseGeocode

###############################
## USPS Settings
###############################
# Note: All settings in this group require an application restart to take effect.

# Set the default USPS implementation. The available options are:
# AMS   -- Utilizes the Native AMS Web Service
# AIS   -- Utilizes the Free AIS Web Service
usps.default = AMS

################################
## Multi-Threading
################################
num.threads = 3

##################################
## GeoApi Database Configuration
##################################
db.driver = org.postgresql.Driver
db.type = postgresql
db.host = localhost
db.name = geoapi
db.user = username
db.pass = password

#################################
## Mailing Configuration
#################################
smtp.active = true
smtp.host = senmail.senate.state.ny.us
smtp.port = 25
smtp.auth = false
smtp.user = 
smtp.pass = 
smtp.debug = false
smtp.admin = zalewski@nysenate.gov
smtp.tls.enable = true
smtp.ssl.enable = false

#################################
## Batch Job Configuration
#################################
# Set to false to disable all job related emails
job.send.email = true

# Local directory to save uploaded batch job files
job.upload.dir = /data/geoapi_data/uploads/

# Local directory to save completed batch jobs
job.download.dir = /data/geoapi_data/downloads/

job.batch.size = 40

#####################################
## Assignment Configuration
#####################################

geocoder.ranking = geocache, nysgeo, google
district.ranking = streetfile, shapefile

#####################################
## Cron Configuration
#####################################
# Cron expressions that dictate scheduling for scheduled services
# Format "{second} {minute} {hour} {day of month} {month} {day of week}"

# When the job processor should run / check for files
job.process.cron = 0 * * * * *

# Specify when the senator data is refreshed
member.refresh.cron = 0 0 0/12 * * *

#####################################
## Streetfile Script Config
#####################################
# Working directory for streetfile data.
streetfile.dir = /data/geoapi_data/street_files/

#####################################
## Post Office Data
#####################################
post.office.data.dir = /data/geoapi_data/post_offices
