/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}
.column-right {
    float: right;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}