/*-------------------------------------------------------
  Web Fonts
--------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/*-------------------------------------------------------
  Defaults
--------------------------------------------------------*/
html, body {
    height:100%;
}

body {
    margin:0;
    padding:0;
    font-family:'Source Sans Pro', sans-serif;
    font-weight:400;
    letter-spacing:-.2px;
    background-color:#eee;
}

p {
    margin:0;
}

a {
    color:#333;
    text-decoration: none;
    outline:0;
}

a:hover {
    color:teal;
    text-decoration:underline !important;
}

ol, ul {
    list-style-type: none;
}

b {font-size: 110%;}
em {color: red;}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*-------------------------------------------------------
  3 Column Fluid Layout
--------------------------------------------------------*/
#maincontainer {
    height:100%;
}

#header {
    display:block;
    height:40px;
    background:#2a2a2a;
    padding:0 15px;
    margin:0;
    font-size:16px;
}

#contentwrapper {
    float: left;
    width: 100%;
    height:100%;
}

#contentcolumn {
    margin: 0;
    height:100%;
    background-color:#f5f5f5;
}

#contentcolumn.sidebar {
    margin-right:330px;
}

.innertube {
    margin-top: 0;
    height:100%;
}


#leftcolumn {
    float: left;
    width: 180px; /*Width of left column*/
    margin-left: -100%;
    background: #eee;
    height:100%;
}

#rightcolumn {
    float: left;
    width: 330px; /*Width of right column*/
    margin-left: -330px; /*Set left margin to -(RightColumnWidth)*/
    background: #eee;
    height:100%;
    display:none;
    position:absolute;
    top:40px;
    right:0;
}

#footer {
    clear: left;
    width: 100%;
    background: #ababab;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
    height:40px;
}

#footer a {
    color: #FFFF80;
}

.top-header.autohide {
    background:#444;
    color:white;
}

/*-------------------------------------------------------
  Top Headers
--------------------------------------------------------*/
#sageLogoText {
    font-size: 150%;
    padding: 0;
    font-weight: bold;
    line-height: 40px;
}

#header ul {
    padding:0;
    margin:0;
}

#header ul li {
    display: inline;
    list-style-type: none;
    margin-right:5px;
    font-size:14px;
    line-height:40px;
}

#header ul li a {
    color:#aaa;
    padding:11px 9px;
    outline:none;
}

#header ul li a:hover {
    text-decoration: none !important;
}

#header ul li a.active {
    color:white;
    font-weight: 600;
    background: #0E4E5A;
}

#header ul li a:hover {
    color:white;
}

.top-header {
    padding:0 15px;
    margin:0;
    font-size:16px;
    background:#2a2a2a;
    color:white;
}

.top-header .text {
    padding:9px 0 11px 0;
}

.top-method-header {
    white-space: nowrap;
}

/*-------------------------------------------------------
  Search Container Styles
--------------------------------------------------------*/
.search-container {
    position: absolute;
    top: 100px;
    left: 40px;
    height: auto;
    width: 350px;
    background: #f9f9f9;
    border: 1px solid #999;
    box-shadow: 0 0 10px #999;
    border-radius: 3px;
    padding: 10px 0 5px 5px;
}

.search-container.small {
    width:240px;
}

.search-container label {
    color: #0E4E5A;
    font-size: 15px;
}

.search-container select {
    background-color:white;
    border:1px solid #ddd;
}

.search-container input {
    outline: 0;
    border: 1px solid #ddd;
    width: 285px;
    border-radius: 2px 0 0 2px;
    height: 35px;
    line-height:25px;
    background:white;
    padding-left:5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.search-container table label {
    font-size:14px;
    color: #0E4E5A;
}

.search-container a.options-link {
    font-size:13px;
    position: relative;
    top: 3px;
    left: 5px;
}

.search-container label.menu-overhead {
    display:block;
    font-size:13px;
}

.search-container select.menu {
    display:block;
    margin-right:5px;
    height:30px;
    font-size:14px;
}

.search-container button.compact {
    display:block;
    height:30px !important;
    padding:0 20px !important;
}

.collapse-search, .expand-search {
    margin-right:10px;
    cursor: pointer;
}

.options-table {
    border-top:1px solid #ddd;
    width:95%;
    margin-top:5px;
}

.options-table tr td select {
    font-size:13px;
    color:#444;
}

/*-------------------------------------------------------
  Input Container Styles
--------------------------------------------------------*/

.input-container li {
    margin-bottom:3px;
}

.input-container li label {
    float:left;
    text-align: right;
    margin-right:10px;
    width:55px;
    line-height:29px;
    font-size:13px;
}

.input-container li input {
    width:188px;
    background:white;
    border:1px solid #ccc;
    padding:5px;
    margin-bottom:2px;
}

.input-container li select {
    padding:4px 2px;
    outline:none;
    border:1px solid #ccc;
    width:200px;
    background:white;
    margin-bottom:2px;
}

.input-container input, .input-container select {
    color:#111;
    font-size:14px;
}

/*-------------------------------------------------------
  Left Nav
  ------------------------------------------------------*/
.method-header, .result-header {
    margin: 0;
    padding: 10px 15px;
    font-size: 100%;
    color:#777;
}

.method-header {
    cursor:pointer;
    font-size:16px;
}

.method-header:hover{
    color:#333;
    background-color:#ddd;
}

.method-header.active {
    color: white;
    font-weight: 600;
    background-color:#0E4E5A;
}

.input-container input, .input-container select {
    color:#111;
    font-size:14px;
}

/*-------------------------------------------------------
  Maps
  ------------------------------------------------------*/
#mapView, #map_canvas {
    height:100%;
}

/*-------------------------------------------------------
  Generic Results Display
  ------------------------------------------------------*/
#showResultsTab {
    width:120px;
    position:absolute;
    top:40px;
    right:0;
    cursor: pointer;
    display:none;
}

#resultsTab {
    cursor: pointer;
    height:20px;
}

#showResultsTab:hover, #resultsTab:hover {
    background-color:#799933 !important;
}

.result-header.success {
    color: white;
    background-color:#477326;
    font-weight: 600;
}

.result-header.error {
    background-color: #8E2F2F;
    font-weight: bold;
}

.info-container {
    box-shadow:1px 1px 2px 0 #b0b0b0;
    width: 300px;
    margin: 5px auto;
    background: white;
    height: auto;
    padding:10px;
}

.info-container.slim {
    padding:5px 10px;
}

.info-container.clickable {
    cursor:pointer;
}

.info-container.clickable:hover {
    box-shadow:1px 1px 2px 0 teal;
    background-color:#f5f5f5;
}

.section {
    border-top:1px solid #ddd;
    margin-top:4px;
    padding:5px;
}

.success {
    color: white;
    background-color:#477326;
    font-weight: 600;
}

/*-------------------------------------------------------
  Senator Results Display
  ------------------------------------------------------*/
.info-container.senator {
    height:70px;
}

.mini-senator-pic-holder, .senator-pic-holder {
    float:left;
    margin-right: 10px;
    margin-bottom: 5px;
    overflow:hidden;
}

.senator-pic-holder {
    height:80px;
    max-width:90px;
}

.mini-senator-pic-holder {
    height:50px;
    max-width:50px;
}

.senator-pic-holder img.senator-pic {
    height:auto;
    width:100%;
}

.member-name.senator {
    color:#444;
    font-size:18px;
}

.member-name {
    color:#444;
    font-size:18px;
}

.member-email {
    color:#444;
    font-size:14px;
}

.district {
    font-size:16px;
    color: teal;
}

.district.senate {
    font-size:18px;
    color: teal;
}

.validated-address {
    color: #333;
    font-size:18px;
}

/*-------------------------------------------------------
  Icons
  ------------------------------------------------------*/
.small-right-icon {
    float:right;
    position:relative;
    cursor:pointer;
    top:3px;
}

/*-------------------------------------------------------
  Form Styles
  ------------------------------------------------------*/
.form-container {
    display:none;
}

.form-container.active {
    display:none;
}

button.submit, button.submit.mini {
    text-align: center;
    background: #799933;
    color: white;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 20px;
    width: 264px;
    font-weight: bold;
    border-radius: 2px;
}

button.submit.mini {
    height:35px;
    width: 52px;
    font-weight: bold;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
}

button.submit:hover{
    background: #7BA838;
}

button.submit[disabled] {
    background: #aaa;
}

hr.shadow {
    color: #333;
    border-style: none none solid none;
    outline: none;
    border-width: 1px;
    border-color: #BBB;
    box-shadow: #999 0 1px 4px;
}

.right-icon-placeholder {
    width:30px;
    font-size: 13px;
    color: #555;
    text-align: right;
}

/*-------------------------------------------------------
  Street Finder Table
--------------------------------------------------------*/
table.dataTable tr.odd {
    background-color:transparent !important;
}

table.dataTable tr.odd td.sorting_1 {
    background-color:transparent !important;
    color:teal;
}

table.dataTable tr.even td.sorting_1 {
    background-color:transparent !important;
    color:teal;
}

.dataTables_wrapper {
    margin-bottom: 40px !important;
}

.dataTables_info {
    color: #999 !important;
    font-size: 14px !important;
    margin-top: 10px !important;
}

.dataTables_paginate.paging_two_button {
    margin-top: 10px !important;
}

.paginate_disabled_previous, .paginate_disabled_next {
    color:#777 !important;
}

#street-view-table_filter {
    display:none;
}

#street-search {
    width: 200px;
    outline: 0;
    border: 1px solid #999;
    padding: 5px;
}

#streetLookupSearch {
    position:inherit;
    top:0;
    left:0;
    width:100%;
    border:0;
    box-shadow: 0 2px 2px #eee;
    border-radius:0;
    margin:10px;
}

#streetLookupForm, #streetSearchFilter {
    float:left;
}

#streetSearchFilter {
    margin-left:20px;
}

/*-------------------------------------------------------
  Job Page
--------------------------------------------------------*/
#upload-container {
    width:650px;margin:auto;text-align: center;
}

.running-process-view {
    background: #fbfbfb;
    box-shadow: 0 2px 3px #DDD;
    width: 780px;
    margin: auto;
    padding: 10px;
}

table.job-table {
    font-size:14px;
    text-align:left;
    width:100%;
}

#login-error {
    color: maroon;
    font-weight: bold;
    text-align: center;
}

/*-------------------------------------------------------
  Admin Page
--------------------------------------------------------*/
#leftcolumn.admin {
    width:250px;
    border-right:1px solid #ddd;
}

#uptime-stats ul li {
    display:inline;
    list-style-type: none;
    padding-right:20px;
}

.highlight-section {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 1px #bbb;
    background: white;
    margin: 10px;
}

.highlight-section label {
    color:teal;
    font-weight:600;
}

#geocoder-stats {
    float:left;
    width:29%;
    height:300px;
}

#api-usage-stats {
    width:auto;
}