/*-------------------------------------------------------
  Web Fonts
--------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/*-------------------------------------------------------
  Defaults
--------------------------------------------------------*/
html, body {
    height:100%;
}

body {
    margin:0;
    padding:0;
    font-family:'Source Sans Pro', sans-serif;
    font-weight:400;
    letter-spacing:-.2px;
    background-color:#f5f5f5;
}

p {
    margin:0;
}

a {
    color:#333;
    text-decoration: none;
    outline:0;
}

a:hover {
    color:teal;
    text-decoration:underline !important;
}

ol, ul {
    list-style-type: none;
}

b {font-size: 110%;}
em {color: red;}
hr {
    outline:0;
    border:1px solid #ddd;
    border-style: solid none none none;
}

h3.slim {
    font-weight: 400;
    font-size: 20px;
}

h3.section-title {
    font-size:16px;
    margin:0;
    padding:8px 0 8px 10px;
    background:#efefef;
    text-shadow: 0 0 1px #aaa;
    font-weight: normal;
    color:white;
}

h3.section-title.street-finder {
    padding: 15px;
    background: #008cba;
}

hr.section-title-hr {
    margin:0;
    padding:0;
    border-top:1px solid #666;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*-------------------------------------------------------
  3 Column Fluid Layout
--------------------------------------------------------*/
#maincontainer {
    height:100%;
}

#contentwrapper {
    float: left;
    width: 100%;
    height:100%;
}

#contentcolumn {
    margin: 0;
    height:100%;
    background-color:#f5f5f5;
    position:relative;
}

#contentcolumn.sidebar {
    margin-right:340px;
}

#mapcontentcolumn {
    margin: 0;
    height:100%;
    background-color:black;
}

.innertube {
    margin-top: 0;
    height:100%;
}

.scrollable-content {
    overflow-x: inherit;
    overflow-y: auto;
    border-left:1px solid #bbb;
}

#leftcolumn {
    float: left;
    width: 180px; /*Width of left column*/
    margin-left: -100%;
    background: #eee;
    height:100%;
}

#rightcolumn {
    float: left;
    width: 340px; /*Width of right column*/
    margin-left: -340px; /*Set left margin to -(RightColumnWidth)*/
    background: transparent;
    height:auto;
    display:none;
    position:absolute;
    top:60px;
    right:0;
}

#footer {
    clear: left;
    width: 100%;
    background: #ababab;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
    height:40px;
}

#footer a {
    color: #FFFF80;
}

/*-------------------------------------------------------
  Header
--------------------------------------------------------*/
#header {
    height:60px;
    width:100%;
    display:block;
    background:#008cba;
    padding:0;
    margin:0;
    font-size:16px;
    border-bottom:1px solid #007095;
}

#header ul {
    padding:0;
    margin:0;
}

#header ul li {
    display: inline;
    list-style-type: none;
    font-size:14px;
    line-height:60px;
    margin-right: 10px;
}

#header ul li a {
    color:#f1f1f1;
    font-weight: 600;
    padding:11px 9px;
    outline:none;
}

#header ul li a:hover {
    text-decoration: none !important;
    color:white !important;
    background: #007095;
}

#header ul li a.active {
    color:white;
    font-weight: 600;
    background: #00546f;
}

#header ul li a.active:hover {
    color:white !important;
}

#header ul li a:hover {
    color:white;
}

#sageLogoText {
    font-size: 150%;
    padding: 0;
    font-weight: 600;
    line-height: 60px;
    float:left;
    width:80px;
    margin-left: 20px;
}

#sageLogoText a {
    color:#fff;
}

/*-------------------------------------------------------
  Search Container Styles
--------------------------------------------------------*/
.search-container {
    position: absolute;
    top: 10px;
    left: 40px;
    height: auto;
    width: 350px;
    background: #f9f9f9;
    border: 1px solid white;
    box-shadow: 0 0 10px #999;
    padding: 10px 0 5px 5px;
    z-index:1000;
}

.search-container.small {
    width:240px;
}

.search-container label {
    color: #333;
    font-size: 16px;
}

.search-container select {
    background-color:white;
    border:1px solid #ddd;
    color:#333;
    font-size:14px;
}

.search-container input {
    outline: 0;
    border: 1px solid #ddd;
    width: 285px;
    border-radius: 2px 0 0 2px;
    height: 35px;
    line-height:25px;
    background:white;
    padding-left:5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.search-container table label {
    font-size:14px;
    color: #0E4E5A;
}

.search-container .options-link-container {
    float:left;
    padding-top:3px;
    line-height:25px;
    padding-right:  10px;
    cursor: pointer;
}

.search-container .options-link-container:hover {
    background:#fff;
}

.search-container a.options-link {
    font-size:13px;
    left: 5px;
}

.search-container label.menu-overhead {
    display:block;
    font-size:13px;
}

.search-container select.menu {
    display:block;
    margin-right:5px;
    height:30px;
    font-size:14px;
}

.search-container button.compact {
    display:block;
    height:30px !important;
    padding:0 20px !important;
}

.collapse-search, .expand-search {
    margin-right:10px;
    cursor: pointer;
}

.options-table {
    border-top:1px solid #ddd;
    width:95%;
    margin-top:5px;
}

.options-table tr td select {
    font-size:13px;
    color:#444;
}

#districtInfoHelp {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    max-height: 400px;
    overflow-y: auto;
    font-size: 13px;
    color: #333;
    padding: 5px;
}

/*-------------------------------------------------------
  Input Container Styles
--------------------------------------------------------*/

.input-container li {
    margin-bottom:3px;
}

.input-container li label {
    float:left;
    text-align: right;
    margin-right:10px;
    width:55px;
    line-height:29px;
    font-size:13px;
}

.input-container li input {
    width:188px;
    background:white;
    border:1px solid #ccc;
    padding:5px;
    margin-bottom:2px;
}

.input-container li select {
    padding:4px 2px;
    outline:none;
    border:1px solid #ccc;
    width:200px;
    background:white;
    margin-bottom:2px;
}

.input-container input, .input-container select {
    color:#111;
    font-size:14px;
}

/*-------------------------------------------------------
  Maps
  ------------------------------------------------------*/
#mapView, #map_canvas {
    height:100%;
}

/*-------------------------------------------------------
  Generic Results Display
  ------------------------------------------------------*/
.success {
    color: white;
    background-color:#477326;
    font-weight: 600;
}

.success-color {
    color:#477326 !important;
}

#showResultsTab {
    width:120px;
    position:absolute;
    top:60px;
    right:0;
    cursor: pointer;
    display:none;
    height:22px;
}

#resultsTab {
    cursor: pointer;
    height:20px;
    border-bottom:1px solid #aaa;
}

#showResultsTab:hover, #resultsTab:hover {
    background-color: #006c8f !important;
}

.result-header {
    font-size: 18px;
    margin: 0;
    padding: 10px 15px;
    color:#777;
}

.result-header.success {
    color: white;
    background-color: #008cba;
    font-weight: 600;
}

.result-header.error {
    background-color: #8E2F2F;
    font-weight: bold;
}

.info-container {
    box-shadow:1px 1px 2px 0 #b0b0b0;
    width: 300px;
    margin: 5px auto;
    background: white;
    height: auto;
    padding:10px;
}

.info-container.slim {
    padding:5px 10px;
}

.info-container.slim2 {
    padding:5px 10px 0 10px;
}

.info-container.title {
    padding:8px 10px;
    margin: 5px auto 0 auto;
    border-bottom:1px solid #eee;
}

.info-container.title p {
    font-size:17px;
    color:teal;
}

.info-container.connected-top {
    margin: 0 auto 5px auto;
}

.info-container.connected-bottom {
    margin: 5px auto 0 auto;
}

.info-container.connected {
    margin: 0 auto;
}

.info-container.clickable {
    cursor:pointer;
}

.info-container.clickable:hover {
    box-shadow:1px 1px 2px 0 teal;
    background-color:#f5f5f5;
}

.info-container hr {
    outline: 0;
    border-color:#ddd;
    border-width:0 0 1px 0;
    margin:2px 0 5px 0;
}

.info-container .message {
    font-size:14px;
}

.section {
    border-top:1px solid #ddd;
    margin-top:4px;
    padding:5px;
}

/*-------------------------------------------------------
  Lightly Styled Tables
  ------------------------------------------------------*/
table.light-table {
    text-align:center;
    width:100%;
    font-size:14px;
    color:#333;
}

table.light-table tr {
    border-bottom:1px solid #ddd;
}

/*-------------------------------------------------------
  Senator Results Display
  ------------------------------------------------------*/
.info-container.senator {
    height:70px;
    border-bottom:1px solid #ddd;
}

.mini-senator-pic-holder, .senator-pic-holder {
    float:left;
    margin-right: 10px;
    margin-bottom: 5px;
    overflow:hidden;
}

.senator-pic-holder {
    height:80px;
    max-width:80px;
    overflow: hidden;
}

.senator-info-district-result {
    width: 220px;
}

.mini-senator-pic-holder {
    height:50px;
    max-width:50px;
}

.senator-pic-holder img.senator-pic {
    height: 70px;
}

.member-name.senator {
    color:#444;
    font-size:18px;
}

.member-name {
    color:#444;
    font-size:18px;
}

.member-email {
    color:#444;
    font-size:14px;
}

.district {
    font-size:16px;
    color: teal;
}

.district.senate {
    font-size:18px;
    color: teal;
}

.validated-address {
    color: #333;
    font-size:18px;
}

.small-box {
    font-weight:600;
    padding: 4px 5px 4px 6px;
    height:20px;
    width:30px;
    float:left;
    margin-right:10px;
    color:white;
    overflow: hidden;
}

/*-------------------------------------------------------
  Icons
  ------------------------------------------------------*/
.small-right-icon {
    float:right;
    position:relative;
    cursor:pointer;
    top:3px;
}

/*-------------------------------------------------------
  Form Styles
  ------------------------------------------------------*/
.form-container {
    display:none;
}

.form-container.active {
    display:none;
}

button.submit, button.submit.mini {
    text-align: center;
    background: #799933;
    color: white;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 20px;
    width: 264px;
    font-weight: bold;
    border-radius: 2px;
}

button.submit.mini {
    height:35px;
    width: 52px;
    font-weight: bold;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
}

button.submit:hover{
    background: #7BA838;
}

button.submit[disabled] {
    background: #aaa;
}

hr.shadow {
    color: #333;
    border-style: none none solid none;
    outline: none;
    border-width: 1px;
    border-color: #BBB;
    box-shadow: #999 0 1px 4px;
}

.right-icon-placeholder {
    width:30px;
    font-size: 13px;
    color: #555;
    text-align: right;
}

/*-------------------------------------------------------
  USPS iframe
--------------------------------------------------------*/
#uspsLookupView {
    width:100%;
    position:absolute;
    top:0;
}

#uspsIframe {
    min-height:520px;
    width:100%;
    border:0;
    outline:0;
    margin:0;
}

/*-------------------------------------------------------
  Street Finder Table
--------------------------------------------------------*/
#streetView {
    position: absolute;
    top:0;
    background:rgba(229,229,229,0.7);
    width:100%;
}

#streetViewFrame {
    width:100%;
    border:0;
    overflow:auto;
}

#streetLookupSearch {
    background:#fefefe;
    margin:20px auto;
    box-shadow:2px 2px 10px #ccc;
    width:960px;
    border-radius:0;
    min-height:500px;
}

#streetLookupSearch p {
    font-size:13px;
    color:#333;
}

#streetLookupSearch label {
    font-size:13px;
}

#streetLookupSearch input[type="text"] {
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 2px 0 0 2px;
    height: 35px;
    line-height: 25px;
    background: white;
    padding-left: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#streetViewTableContainer {
    border-tozp: 1px solid #ddd;
    margin: 10px 0;
}

table.dataTable tr.odd {
    background-color:transparent !important;
}

table.dataTable tr.odd td.sorting_1 {
    background-color:transparent !important;
    color:teal;
}

table.dataTable tr.even td.sorting_1 {
    background-color:transparent !important;
    color:teal;
}

.dataTables_wrapper {
    margin-bottom: 40px !important;
}

.dataTables_info {
    color: #999 !important;
    font-size: 14px !important;
    margin-top: 10px !important;
}

.dataTables_paginate.paging_two_button {
    margin-top: 10px !important;
}

.paginate_disabled_previous, .paginate_disabled_next {
    color:#777 !important;
}

#street-view-table_length {
    font-size:13px;
    color:#333;
    padding:5px 0 10px 10px;
}

#street-view-table tr td {
    font-size:13px;
    text-align: center;
}

#street-view-table.dataTable thead th {
    font-size:12px;
    color:#005588;
}

#street-view-table_filter {
    display:none;
}

#street-search {
    width: 200px;
    outline: 0;
    border: 1px solid #999;
}

#streetLookupForm, #streetSearchFilter {
    float:left;
}

#streetSearchFilter {
    margin-left:20px;
}

#street-view-table_paginate {
    margin-top:10px !important;
}

#street-view-table_paginate a {
    border-radius: 2px !important;
    font-size: 14px !important;
}

/*-------------------------------------------------------
  Job Page
--------------------------------------------------------*/
#upload-container {
    width:100%;
    height:100%;
    margin:auto;
    text-align: center;
}

#fileUploaderBasic {
    position: relative;
    overflow: hidden;
    float:left;
    direction: ltr;
    background: #eee;
    border:1px solid #aaa;
    padding:5px;
    font-size:14px;
    color:teal;
    font-weight:600;
}

#fileUploaderBasic:hover {
    background: #fafafa;
}

#fileUploadProgress {
    height:30px;
    width:100%;
    background:#7BA838;
    border:1px solid #aaa;
}

.running-process-view {
    background: #fbfbfb;
    box-shadow: 0 2px 3px #DDD;
    width: 95%;
    margin: auto;
    padding: 10px;
}

table.job-table {
    font-size:14px;
    text-align:left;
    width:100%;
}

#login-error {
    color: maroon;
    font-weight: bold;
    text-align: center;
}

/** Cancel button style */
.cancel {
    color: #555;
    background: #eee;
    border: 1px solid #aaa;
}

div.cancel {
    width: 50px;
    padding: 3px;
    cursor: pointer;
}

.cancel:hover {
    color: orangered;
    background:#f5f5f5;
}

#jobInstructions {
    border: 1px solid #ddd;
    width: 85%;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 1px 0 #eee;
    margin-top: 30px;
    margin-bottom:40px;
    background:#fff;
}

.columnAliasTable {
    text-align:left;
    width:680px;
    margin:auto;
    font-size:13px;
}

.columnAliasTable tr {
    border-bottom:1px solid #ddd;
}

.columnAliasTable tr td, .columnAliasTable tr th {
    border-right:1px solid #ddd;
}

.columnAliasTable tr td code {
    color:#333;
}

.columnAliasTable tr td:first-child {
    color:teal;
}

/*-------------------------------------------------------
  Admin Page
--------------------------------------------------------*/
p.blue-header {
    color:#005588;
    font-weight: 600;
}

#leftcolumn.admin {
    width:250px;
    border-right:1px solid #ddd;
}

ul.horizontal {
    margin:0;
}


ul.horizontal li {
    display:inline;
    list-style-type: none;
    padding:0 20px 0 0;
}

.highlight-section {
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
    margin: 10px;
    min-width: 850px;
    box-shadow: 0 0 1px #eee;
    font-size:14px;
}

.highlight-section.fixed {
    width: 850px;
    margin: 10px auto;
}

.highlight-section .title {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #0E4E5A;
    padding: 5px;
    color: #0E4E5A;
}

.highlight-section label {
    color:#0E4E5A;
}

table.admin-table {
    text-align:left;
    width:100%;
    font-size:14px;
    color:#333;
}

table.admin-table tr {
    border-bottom:1px solid #ddd;
}

#geocoder-stats {
    float:left;
    width:29%;
    height:300px;
}

#api-usage-stats {
    width:auto;
}

.create-entity {
    text-align: left;
    padding: 5px;
    margin-top: 10px;
}

.create-entity label {
    margin-right:10px;
    font-weight:400;
    font-size:13px;
}

.create-entity input {
    border:1px solid #ddd;
    margin-right:20px;
}

.create-entity input:last-child {
    margin-right:0;
}

/*-------------------------------------------------------
  Google Autocomplete
--------------------------------------------------------*/
.pac-container {
    font-size: 14px;
}

.pac-item b {
    font-weight: 600;
    color:teal;
}

/*-------------------------------------------------------
  Map Tooltip
--------------------------------------------------------*/
#mapTooltip {
    display:none;
    position:absolute;
    width:auto;
    padding:5px;
    font-size:13px;
    background:#005588;
    color:white;
    font-weight:600;
    opacity:0.9;
}