.icon-mail,.icon-paperplane,.icon-pencil,.icon-drawer,.icon-user,.icon-location,.icon-map,.icon-compass,.icon-location2,.icon-target,.icon-house,.icon-search,.icon-hourglass,.icon-network,.icon-earth,.icon-database,.icon-bars,.icon-graph,.icon-cross,.icon-upload,.icon-arrow-down,.icon-arrow-up {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-mail {
	background-position: 0 0;
}
.icon-paperplane {
	background-position: -44px 0;
}
.icon-pencil {
	background-position: -88px 0;
}
.icon-drawer {
	background-position: -132px 0;
}
.icon-user {
	background-position: -176px 0;
}
.icon-location {
	background-position: -220px 0;
}
.icon-map {
	background-position: -264px 0;
}
.icon-compass {
	background-position: -308px 0;
}
.icon-location2 {
	background-position: -352px 0;
}
.icon-target {
	background-position: -396px 0;
}
.icon-house {
	background-position: -440px 0;
}
.icon-search {
	background-position: -484px 0;
}
.icon-hourglass {
	background-position: -528px 0;
}
.icon-network {
	background-position: -572px 0;
}
.icon-earth {
	background-position: -616px 0;
}
.icon-database {
	background-position: -660px 0;
}
.icon-bars {
	background-position: 0 -44px;
}
.icon-graph {
	background-position: -44px -44px;
}
.icon-cross {
	background-position: -88px -44px;
}
.icon-upload {
	background-position: -132px -44px;
}
.icon-arrow-down {
	background-position: -176px -44px;
}
.icon-arrow-up {
	background-position: -220px -44px;
}
