<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GeoApi</display-name>

  <filter>
    <display-name>SenateFilter</display-name>
    <filter-name>SenateFilter</filter-name>
    <filter-class>gov.nysenate.sage.servlets.SenateFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>SenateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <description></description>
    <display-name>ApiServlet</display-name>
    <servlet-name>ApiServlet</servlet-name>
    <servlet-class>gov.nysenate.sage.servlets.ApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>BulkServlet</display-name>
    <servlet-name>BulkServlet</servlet-name>
    <servlet-class>gov.nysenate.sage.servlets.BulkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BulkServlet</servlet-name>
    <url-pattern>/bulk/*</url-pattern>
  </servlet-mapping>

</web-app>